@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}

@layer components {
  img[src="/assets/kids-mascot.webp"] {
    display: none !important;
  }
}
